body {
	margin: 0;
	padding: 5px 5px;
}



article {
	width: 250px;	
	display: inline-block;
	vertical-align: top;
	position: relative;
	/*outline: 1px dashed red;*/
	margin-top: 300px;
	margin-left: 2%;
	margin-right: 2%;
}

img {	
	width: 100%;
}

div.img {
	width: 100%;
	position: absolute;
	bottom:100%;
	/*outline: 1px dashed blue;*/
}

a {
	color: blue;
	text-decoration: none;
	font-size: 20px;
}